/* ////////////////////////////////////////////////////////////////////////////////////////////////////
TAILWINDCSS
//////////////////////////////////////////////////////////////////////////////////////////////////// */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
CUSTOM FONT
//////////////////////////////////////////////////////////////////////////////////////////////////// */
@layer base {
  @font-face {
    font-family: 'DepartureMono';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/fonts/departuremono.woff2) format('woff2');
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
COLORS
//////////////////////////////////////////////////////////////////////////////////////////////////// */
/* :root {
    --neutral-0: #ffffff;
    --neutral-100: #d9d9d9;
    --neutral-200: #bfbfbf;
    --neutral-300: #a6a6a6;
    --neutral-400: #9f9f9f;
    --neutral-500: #808080;
    --neutral-600: #666666;
    --neutral-700: #4d4d4d;
    --neutral-800: #333333;
    --neutral-900: #1d1d1d;
    --neutral-1000: #000000;
    --text-0: #EEEEEE;
    --text-100: #DADADA;
    --text-200: #C6C6C6;
    --text-300: #B3B3B3;
    --text-400: #9F9F9F;
    --text-500: #8B8B8B;
    --text-600: #777777;
    --text-700: #646464;
    --text-800: #505050;
    --text-900: #4A4A4A;
    --text-1000: #444444;
    --color-variant1: #1C1C1C;
    --color-variant2: #53595F;
    --color-variant3: #D8C9B7;
    --color-variant4: #6B70;
    --color-variant5: #E1B12E;
} */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
SCROLLBAR
//////////////////////////////////////////////////////////////////////////////////////////////////// */
::-webkit-scrollbar {
    display: none;
}