/* ////////////////////////////////////////////////////////////////////////////////////////////////////
TAILWINDCSS
//////////////////////////////////////////////////////////////////////////////////////////////////// */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
COLORS
//////////////////////////////////////////////////////////////////////////////////////////////////// */
:root {
    --neutral-0: #ffffff;
    --neutral-100: #d9d9d9;
    --neutral-200: #bfbfbf;
    --neutral-300: #a6a6a6;
    --neutral-400: #9f9f9f;
    --neutral-500: #808080;
    --neutral-600: #666666;
    --neutral-700: #4d4d4d;
    --neutral-800: #333333;
    --neutral-900: #262626;
    --neutral-1000: #000000;
    --color-variant1: #fb9c3d;
    --color-variant2: #2dada7;
    --color-variant3: #d37254;
    --color-variant4: #1f4354;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
SCROLLBAR
//////////////////////////////////////////////////////////////////////////////////////////////////// */
::-webkit-scrollbar {
    display: none;
}

/* :root {
--scrollbar-track-color: #efedec;
--scrollbar-thumb-color: #018b78;
--scrollbar-thumb-hover-color: #114640;
}

*::-webkit-scrollbar {
height: 5px;
width: 5px;
}

*::-webkit-scrollbar-track {
border-radius: 0px;
background-color: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-track:hover {
background-color: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-track:active {
background-color: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-thumb {
border-radius: 0px;
background-color: var(--scrollbar-thumb-color);
}

*::-webkit-scrollbar-thumb:hover {
background-color: var(--scrollbar-thumb-hover-color);
}

*::-webkit-scrollbar-thumb:active {
background-color: var(--scrollbar-thumb-hover-color);
} */
        