/* ////////////////////////////////////////////////////////////////////////////////////////////////////
TAILWINDCSS
//////////////////////////////////////////////////////////////////////////////////////////////////// */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
COLORS
//////////////////////////////////////////////////////////////////////////////////////////////////// */
:root {
    --neutral-0: #ffffff;
    --neutral-100: #d9d9d9;
    --neutral-200: #bfbfbf;
    --neutral-300: #a6a6a6;
    --neutral-400: #9f9f9f;
    --neutral-500: #808080;
    --neutral-600: #666666;
    --neutral-700: #4d4d4d;
    --neutral-800: #333333;
    --neutral-900: #1d1d1d;
    --neutral-1000: #000000;
    --text-0: #FFFFFF;
    --text-300: #C1D2F8;
    --text-500: #7A9FF4;
    --text-700: #4379F4;
    --text-800: #1f4aae;
    --text-1000: #031337;
    --color-variant1: #FBFBFB;
    --color-variant2: #D0DCF8;
    --color-variant3: #3C75F5;
    --color-variant4: #5BEE9E;
    --color-variant5: #161616;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
SCROLLBAR
//////////////////////////////////////////////////////////////////////////////////////////////////// */
::-webkit-scrollbar {
    display: none;
}
        