@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: lightgrey;
  margin: 20px;
}

h1 {
  /* border: black 1px solid; */
  padding: 5px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  background-color: red;
}

p {
  /* border: black 1px dashed; */
  padding: 5px;
  background-color: yellow;
}

em {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  padding: 5px;
  background-color: green;
}

/* ████████████████████████████████████████████████████████████████████████████████████████████████████
CONTAINER
████████████████████████████████████████████████████████████████████████████████████████████████████ */
.grid-container {
  background-color: gray;
  padding: 10px;
  /* GRID */
  display: grid;
  gap: 5px 5px;
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-template-areas:  "weather satellite webcam"
                        "weather forecast forecast" 
                        "sun forecast forecast" 
                        "moon nightsky aurora"
                        "air particles allergy";
  /* GRID TEMPLATE CONFIGURATION*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.25fr 0.5fr 0.5fr 0.5fr;
}


/* ████████████████████████████████████████████████████████████████████████████████████████████████████
CARDS
████████████████████████████████████████████████████████████████████████████████████████████████████ */
.card {
  padding: 5px;
  border-radius: 20px;
  place-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
WEATHER
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-weather {
  background-color: #436971;
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: weather;
  /* GRID TEMPLATE CONFIGURATION*/
  /* grid-column: span 2;
  grid-row: span 1; */
  /* GRID TEMPLATE AREAS CONFIGURATION */
  display: grid;
  grid-template-areas:  "weather-cityBox weather-cityBox" 
                        "weather-descriptionBox weather-descriptionBox" 
                        "weather-tempBox weather-tempBox"
                        "weather-rainBox weather-snowBox";
}

.weather-cityBox {
  grid-area: weather-cityBox;
  /* border: black 2px solid; */
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: #e1e5ed;
  border-bottom: #e1e5ed 1px solid;
}
.weather-timeBox {
  grid-area: weather-timeBox;
  color: #e1e5ed;
  text-align: right;
}
.weather-descriptionBox {
  grid-area: weather-descriptionBox;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #e1e5ed;
}
.weather-tempBox {
  grid-area: weather-tempBox;
  background-color: #e1e5ed;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #436971;
}
/* .weather-atmosphereBox {
  grid-area: weather-atmosphereBox;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #e1e5ed;
} */
.weather-windBox {
  grid-area: weather-windBox;
  color: #e1e5ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  padding: 10px;
}
.weather-rainBox {
  grid-area: weather-rainBox;
  border: #e1e5ed 2px solid;
  border-radius: 20px;
  color: #e1e5ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.weather-snowBox {
  grid-area: weather-snowBox;
  border-radius: 20px;
  border: #e1e5ed 2px solid;
  color: #e1e5ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
SATELLITE
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-satellite {
  background-color:rgb(32, 175, 218);
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: satellite;
  /* GRID TEMPLATE CONFIGURATION*/
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
FORECAST
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-forecast {
  background-color: #490303;
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: forecast;
  /* GRID TEMPLATE CONFIGURATION*/
  /* grid-column: span 1;
  grid-row: span 2; */
  padding: 10px;
}

.forecast-daysBox{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: 10px;
  height: 100%;
}

.forecast-item {
  background-color: #fae8c2;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 5px;
  min-width: 250px;
  justify-content: center;
  align-items: center;
}

.forecast-scrollbar::-webkit-scrollbar {
  display: none;
}
.forecast-scrollbar::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
.forecast-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
.forecast-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
AIR
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-air {
  background-color:rgb(160, 88, 146);
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: air;
  /* GRID TEMPLATE CONFIGURATION*/
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
AURORA
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-aurora {
  background-color:rgb(32, 218, 69);
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: aurora;
  /* GRID TEMPLATE CONFIGURATION*/
  /* grid-column: span 1;
  grid-row: span 1; */
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
WEBCAM
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-webcam {
  background-color:rgb(87, 115, 121);
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: webcam;
  /* GRID TEMPLATE CONFIGURATION*/
  /* grid-column: span 1;
  grid-row: span 1; */
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
PARTICLES
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-particles {
  background-color:rgb(95, 65, 39);
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: particles;
  /* GRID TEMPLATE CONFIGURATION*/
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
NIGHTSKY
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-nightsky {
  background-color:rgb(33, 25, 70);
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: nightsky;
  /* GRID TEMPLATE CONFIGURATION*/
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
MOON
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-moon {
  background-color:rgb(233, 233, 233);
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: moon;
  /* GRID TEMPLATE CONFIGURATION*/
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
SUN
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-sun {
  background-color:rgb(239, 208, 6);
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: sun;
  /* GRID TEMPLATE CONFIGURATION*/
  /* GRID TEMPLATE AREAS CONFIGURATION */
  display: grid;
  grid-template-areas:  "sun-sunrise"
                        "sun-sunset";
}

.sun-sunrise {
  grid-area: sun-sunrise;
}
.sun-sunset {
  grid-area: sun-sunset;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
ALLERGY
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-allergy {
  background-color:rgb(218, 32, 72);
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: allergy;
  /* GRID TEMPLATE CONFIGURATION*/
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////
SOMETING
//////////////////////////////////////////////////////////////////////////////////////////////////// */
.card-something {
  background-color:rgb(102, 7, 27);
  /* GRID TEMPLATE AREAS CONFIGURATION */
  grid-area: something;
  /* GRID TEMPLATE CONFIGURATION*/
}